#about {}

/* The main about container */
.app__about {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container within app__about */
.app__about-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 20px auto;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 30px rgb(88, 87, 86);
    border-radius: 20px;
  }

  img {
    width: 25%;
    margin-left: 35px;
    border-radius: 20px;
    margin: 2.3rem;
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 600px) {
    margin-top: 10px;
    padding: 10px;
  }
}

.about-container-p {
  color: azure;
  padding: 20px;
  margin: 0 30px;
  text-align: justify;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  
  p {
    padding: 0.8rem;
  }

  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}

.p-span {
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 5px;
}


h2 {
  margin-bottom: 30px;
  font-size: 28px;

  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
}