// #about {
//   background: rgb(34, 34, 43);
// }

.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__about-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  margin: 50px;
  
  &:hover {
    box-shadow: 0 0 30px rgb(88, 87, 86);
    border-radius: 20px;
    padding: 1rem;
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-wrap: wrap;
    img {
      width: 50%;  
    }
  }
}


img {
  width: 25%;
  border-radius: 20px;
  margin: 50px;
}


p {
  color: azure;
  padding: 40px;
  text-align: justify;
  font-size: 18px;
}

h2 {
  margin-bottom: 60px;
}










