
// #skills {
  
// }

/* Main container for skills */
.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

/* Container for skills content */
.app__skills-container {
  width: 80%;
  display:flex;
  flex-direction: row;
  justify-content: space-around; /* Adjusted alignment */

  &:hover {
    box-shadow: 0 0 30px rgb(88, 87, 86);
    border-radius: 20px;
  }
  
  /* Responsive layout for smaller screens */
  @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }
}

/* List of skills displayed in a flex layout */
.app__skills-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  @media screen and (max-width: 900px) {
    justify-content: center;
    align-items: center;
  }
}

/* Styling for each individual skill item */
.app__skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  margin-top: 2rem;

  /* Container for skill icon */
  div {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      width: 100%; /* Adjusted size of image */
      height: 100%;
    }

  
    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    } 
  }

  /* Skill description */
  p {
    color: rgb(128, 124, 124);
    font-size: 10px;
  }

  span {
    padding-top: 0.5rem;
    color: var(--primary-color);
  }
} 



/* Bottom section soft skills */
.soft-skills h2 {
  margin-top: 3rem;
  margin-bottom: 3rem; 
  color: var(--primary-color);
}

.soft-skills-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  justify-content: center; 
  padding: 1rem; 
  margin-top: 5rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none; /* Remove default list styles */
    text-align: center; /* Center the content horizontally */
    margin-bottom: 1.5rem; 
    width: 45%; 
    max-width: 200px;
    color: var(--primary-color);
  }

  span {
    font-size: 1.2rem; 
    padding-bottom: 1.5rem;
  }
}

.skill-icon {
  font-size: 2rem; 
  margin-right: 0.5rem; 
}







