
#skills {
  background: rgb(34, 34, 43);
}
.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
}



.app__skills-container {
  width: 80%;
  display:flex;
  flex-direction: row;
  // align-items: center;

  &:hover {
    box-shadow: 0 0 30px rgb(88, 87, 86);
    border-radius: 20px;
    padding: 1rem;
  }
  @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }

}

.app__skills-list {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  @media screen and (max-width: 900px) {
    justify-content: center;
    align-items: center;
  }
}

.app__skills-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  margin-top: 2rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    background-color: white;
    padding: 1rem;
    justify-content: center;
  
    img {
      width: 140%;
      height: 140%;
    }

  
    &:hover {
      box-shadow: 0 0 5px hsl(60, 1%, 23%);
      transform: translate3D(0, -6px, 0);
    }
  
    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
    
  }

  p {
    color: rgb(128, 124, 124);
    font-size: 10px;
  }
} 

.app__skills-bottom {
  color: var(--primary-color);
  margin-top: 5rem;
}

.app__skills-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 4rem;
  }

  ul {
    display: inline-block;
    text-align: center;
    justify-content: center;
  }

  ul li {
    display: inline-block;
    padding: 1rem;
  }

}