/* General styling for the entire application */
.app {
  background: rgb(34, 34, 43);
  font-family: var(--font-base);
}

// .app__white-bg {
//   background-color: ;
// }


/* Main container for the application */
.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 80px; /* Adds padding to the top for the navbar */
}

/* Utility class for flex layout */
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper around the main content */
.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  /* Responsive padding adjustment for smaller screens */
  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  position: fixed; // <- This positions the text relative to the browser window rather than its containing element.
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  margin: 4rem;
}

.head-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}
/* Heading text for each section about, projects, skills */
.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  padding-top: 1rem;

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

/* Paragraph text */
.p-text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: left;
  color: var(--primary-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

/* Bold text styling */
.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--primary-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

/* Social media icon container */
.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  /* Individual social media icon styling */
  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    /* Social media icon color and size */
    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* Navigation dots container */
.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;

  /* Styling for navigation dots */
  .app__navigation-dot {
    width: 25px;
    height: 10px;
    border-radius: 20%;
    background-color: #cbcbcb;
    margin: 0.5rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {

  .app__navigation,
  .app__social {
    display: none;
  }
}