#home {
  position: relative;
  background: rgb(34, 34, 43);
  .copyright {
  visibility: hidden;
  }
}

.app__header {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
      display: flex;
      font-size: 70px;
      color: rgb(110, 108, 108);
      font-family: great vibes;
      word-spacing: 8px;
      font-weight: normal;
      color: rgb(230, 35, 148);
      margin-bottom: 1rem;
  }

  a {
    padding: 1.5rem;
  }
}

.app__icons-ai {
  svg {
  width: 50px;
  height: 50px;
  color: rgb(110, 108, 108);

  &:hover {
    box-shadow: 0 0 20px rgb(230, 35, 148);
  }
}
}



