#home {
  position: relative;
  background: rgb(34, 34, 43);
  .copyright {
  visibility: hidden;
  }
}

.app__header {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  h1 {
      display: flex;
      font-size: 65px;
      // color: rgb(110, 108, 108);
      font-family: Roboto;
      word-spacing: 8px;
      font-weight: normal;
      color: rgb(230, 35, 148);
      margin-top: 1rem;
      margin-bottom: 1.5rem;
  }

  h2 {
    display: flex;
    font-size: 25px;
    color: rgb(110, 108, 108);
  }
  
  a {
    padding: 1.5rem;
  }
}

.app__icons-ai {
  svg {
  width: 50px;
  height: 50px;
  color: var(--primary-color);
  color: rgb(110, 108, 108);
  

  &:hover {
    box-shadow: 0 0 10px rgb(230, 35, 148);
  }
}
}



